:root {
  --width-standard-93: 93%;
  --width-standard-95: 95%;
  --width-standard-97: 97%;
  --max-width-standard-90: 900px;
  --max-width-standard-60: 600px;
  --margin-auto-center: 0 auto;
}

body,
body * {
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 0;
}

header {
  min-height: 5vh;
}

main {
  min-height: 85vh;
}

footer {
  min-height: 10vh;
}

.layout {
  background-color: #333;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}