:root {
  --width-standard-90: 90%;
  --width-standard-93: 93%;
  --width-standard-95: 95%;
  --width-standard-97: 97%;
  --max-width-standard-90: 900px;
  --max-width-standard-60: 600px;
  --margin-auto-center: 0 auto;
}

body,
body * {
  padding: 0;
  margin: 0;
}

body {
  background-color: #333;
}

body::-webkit-scrollbar {
  width: 0;
}

header {}

main {
  min-height: 80vh;
}

footer {
  min-height: 15vh;
}


button,
input {
  cursor: pointer;
}

.layout {
  background-color: #333;
}

.mob {
  display: none;
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 768px) {

  header,
  main,
  footer {
    min-height: unset;
  }

  .mob {
    display: flex;
  }
}