.calculator {
  width: var(--width-standard-90);
  max-width: var(--max-width-standard-60);
  margin: var(--margin-auto-center);

  display: flex;
  flex-direction: column;
  flex: 1;

  padding-top: 10px;
}

.visor {
  grid-template-columns: repeat(1, 1fr);
}

.visor .expression,
.visor .result {
  text-align: right;
  color: #f50;
  min-height: 50px;
  padding: 0 10px;
}

.visor .expression {
  font-size: 24px;
}

.visor .result {
  font-size: 42px;
  min-height: 70px;
}

.calculator .middle {}

.calculator .middle,
.calculator .middle>.content {
  border-top: 1px solid #f503;
}

.calculator .middle>.content {
  aspect-ratio: 1 / 1;
  grid-template-columns: repeat(4, 1fr);
}

.calculator .middle button {
  aspect-ratio: 1 / 1;
  font-size: 35px;
  color: #fff;
  border: none;
  background-color: #0000;
}

.calculator .middle button.span2 {
  grid-column: span 2;
  aspect-ratio: 2 / 1;
}

.calculator .middle button icon {
  width: 35px;
  height: 35px;
  user-select: none;
}

.calculator .middle button:hover {
  background-color: #fff2;
}

.calculator .middle button.symbol {
  font-size: 45px;
  color: #f50;
}

.calculator .middle button.calculate {
  color: #fff;
  background-color: #f70;
}

.calculator .middle button.calculate:hover {
  background-color: #f90;
}

@media screen and (max-width: 768px) {
  .calculator {
    width: var(--width-standard-90);
    max-width: var(--max-width-standard-90);
  }
}